
ul#css3menu1,ul#css3menu1 ul {
	margin:0;
	list-style:none;
	padding:0;
}
ul#css3menu1,ul#css3menu1 .submenu {
	background-color:none;
	border-width:0;
	border-style:solid;
	border-color:#125aa5
}
ul#css3menu1 .submenu {
	visibility:hidden;
	position:absolute;
	left:0;
	top:400%;
	opacity:0;
	-moz-transition:all 0.5s;
	-webkit-transition:opacity 0.5s,top 0.5s,left 0.5s;
	-o-transition:opacity 0.5s,top 0.5s,left 0.5s,visibility 0.5s;
	transition:opacity 0.5s,top 0.5s,left 0.5s;
	float:left;
	z-index:2;
	background-color:#F3F3F3;
	border-width:3px;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-style:solid none;
	padding:0 5px 5px;
	border-top-color:#df7c07;
	border-bottom-color:#026eaf;
}
ul#css3menu1 li:hover>.submenu{
	visibility:visible;
	opacity:1;
}
ul#css3menu1 li{
	position:relative;
	display:block; 
	white-space:nowrap;
	font-size:0;
	float:left;
	}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul .submenu{
	position:absolute;left:200%;top:0;}
ul#css3menu1>li:hover>.submenu{
	top:100%;}
ul#css3menu1 ul li:hover>.submenu{
	left:100%;}
ul#css3menu1{
	font-size:0;
	z-index:999;
	position:relative;
	display:inline-block;
	zoom:1;
	padding:0px 0;
	border-radius:0px;
	height:40px;
	width:1003px;
	-moz-border-radius:0px;-webkit-border-radius:0px;
	*display:inline;
}
ul#css3menu1 .column{
	float:left;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;}
ul#css3menu1 li a.active{
		background:url(manu_bg.jpg) repeat-x;
	padding:12px 40px; }
ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	cursor:pointer;
	padding:6px 15px;
	background-color:#026EAF;
	background-repeat:repeat;
	border-width:0px;
	border-style:none;
	border-color:#026EAF
	}
ul#css3menu1 ul li{
	float:none;margin:0px 0 0; 
	}
ul#css3menu1 ul a{
	text-align:left;padding:5px 7px;background-color:#F3F3F3;border-width:0 0 1px 0;border-style:solid;border-color:#E8E8E8;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:12px Ledger, Georgia,seri;color:#969696;text-decoration:none; }
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	border-style:none;color:#FFFFFF;text-decoration:none;}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:15px;}
ul#css3menu1 ul span{
	background-image:none;padding-right:5px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#026eaf;border-style:solid;border-color:#026eaf;color:#FFFFFF;text-decoration:none;}
ul#css3menu1 li.topmenu>a{
	background:url(manu_bg.jpg) repeat-x;
	padding:12px 40px;
    float:right;
}
ul#css3menu1 li.topmenu:hover>a{
	background:url(images/hover_manu_bg.jpg) repeat-x;}
	
ul#css3menu1 ul span .active {
	background:url(images/hover_manu_bg.jpg) repeat-x;
	

}